<div class="container">
  <div class="jumbotron">
    <h1>{{title}}</h1> 
    <p>Bienvenidos al curso práctico Elaboración de una SPA con AngularJS + PHP + PostrgreSQL</p> 
  </div>
  <p>Elaborado por Daniel Bojorge</p> 
  <p><strong><a href="https://FaceBook.com/DEBSConsultores" target="_blank" class="btn btn-warning"> {{fb}}</a></strong></p> 
  <p><strong><a href="https://YouTube.com/debsdaniel03" target="_blank" class="btn btn-primary"> YouTube/debsdaniel03</a></strong></p> 
  <p><br>Tema de Bootstrap: https://bootswatch.com/</p>
</div>