<div class="container">
  
  	<h1>{{title}}</h1>
  	<section>
    <form>
      <div class="form-group col-xs-6 col-sm-6">
        <label for="codpais">Código</label>
        <input type="number" class="form-control" id="codpais" ng-model="pais.codpais" disabled="disabled">
      </div>
      <div class="form-group col-xs-6 col-sm-6">
        <label for="pais">Pais</label>
        <input type="text" class="form-control" id="pais" ng-model="pais.pais" required="">
      </div>
       <div class="form-group"> 
            <div class="col-sm-offset-2 col-sm-4">
                <button type="submit" class="btn btn-primary" ng-click="grabar(pais);">Grabar</button>
            </div>
            <div class="col-sm-offset-2 col-sm-46">
                <a href="#/paises" class="btn btn-warning" >Cancel</a>
            </div>
        </div>
    </form>
</section>
<hr>
  	<center>
  		<table class="table table-striped table-hover">
  			<thead>
  				<th> Código </th>
  				<th> Descripción</th>
  				<th></th>
  			</thead>
  			<tbody>
  				<tr ng-repeat="pais in todosPaises">
  					<td> {{pais.codpais}} </td>
  					<td> {{pais.pais}} </td>
  					<td> 
	  					<a ui-sref="paises({id:{{pais.codpais}}})" class="btn btn-warning btn-xs">E</span></a>
  					</td>
  				</tr>
  			</tbody>
  		</table>
  	</center>
  
 </div>